@import "tailwindcss";

:root {
  --background: #061f1d;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-primary);
  --font-cabinet: var(--font-primary);
  --font-montserrat: var(--font-secondary);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

/* Secondary font */
p,
input,
textarea,
button,
a,
.font-secondary {
  font-family: var(--font-secondary), Arial, Helvetica, sans-serif;
}

/* Primary font */
h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}